/test/common.h
/test/args.h
/test/common.c
/test/args.c
/config.guess
/config.sub
/Makefile
/libtool
/stamp-h1
/Makefile.in
/test-driver
/missing
/config.h
/configure
/ltmain.sh
/depcomp
/config.log
/config.status
/aclocal.m4
/config.rpath
/config.h.in
/compile
/test/Makefile.in
/test/git_test
/test/git_test.log
/test/git_test.trs
/test/Makefile
/test/test-suite.log
/po/Makefile
/po/POTFILES
/po/de.gmo
/po/varsel.pot
/m4/ltsugar.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltversion.m4
/m4/libtool.m4
/autom4te.cache/
/src/Makefile.in
/src/Makefile
/src/varsel
/src/resources.c
/res/Makefile
/res/Makefile.in
/src/.libs/
/src/.deps/
/install-sh
/nbproject/
/po/insert-header.sed
/po/remove-potcdate.sed
/po/Makefile.in
/test/worker_test
/test/worker_test.log
/test/worker_test.trs
/test/archiv_test.trs
/test/archiv_test
/test/archiv_test.log
/test/test.tgz
/test/test.zip
/srcList/va_list
/srcList/Makefile
/srcList/resources.c
/srcList/Makefile.in
/srcLib/Makefile
/srcLib/Makefile.in
/srcEdit/Makefile
/srcEdit/Makefile.in
/srcEdit/va_edit
/srcEdit/resources.c
/resList/Makefile.in
/resList/Makefile
/resEdit/Makefile.in
/resEdit/Makefile
/resEdit/varsel.desktop
/resList/varsel.desktop
/srcEdit/.deps/
/srcEdit/.libs/
/srcLib/.deps/
/PKGBUILD
/src/configure.ac
