/test/common.h
/test/args.h
/test/common.c
/test/args.c
/config.guess
/config.sub
/Makefile
/libtool
/stamp-h1
/Makefile.in
/test-driver
/missing
/config.h
/configure
/ltmain.sh
/depcomp
/config.log
/config.status
/aclocal.m4
/config.rpath
/config.h.in
/compile
/test/Makefile.in
/test/git_test
/test/git_test.log
/test/git_test.trs
/test/Makefile
/test/test-suite.log
/po/Makefile
/po/Makefile.in.in
/po/POTFILES
/po/de.gmo
/po/varsel.pot
/m4/ltsugar.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltversion.m4
/m4/libtool.m4
/autom4te.cache/
/src/Makefile.in
/src/Makefile
/src/varsel
/src/resources.c
/res/Makefile
/res/Makefile.in
/src/.libs/
/src/.deps/
/install-sh
/nbproject/
