[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=0.1
Name=Varsel
Comment=Some varsel
Categories=Application;Utility;
Exec=varsel
Icon=/usr/share/icons/hicolor/64x64/apps/varsel.png
