[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=0.1
Name=Varsel-List
Comment=Some varsel list
Categories=Application;Utility;
Exec=va_list
Icon=va_list
